.card_wrapper {
  width: 112px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_wrapper img {
  width: 96px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.card_wrapper img:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
