.start_container {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start_container.open {
  height: 100vh;
}

.start_container.open img {
  animation-name: start_animate;
  animation-duration: 0.5s;
}

.start_container.close {
  animation-name: start_close_animate;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.start_img {
  width: 220px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.start_img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@keyframes start_animate {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    -moz-transform: scale(0.0);
    -ms-transform: scale(0.0);
    -o-transform: scale(0.0);
  }
  90% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
  }
}

@keyframes start_close_animate {
  0% {
    opacity: 1.0;
  }
  90% {
    opacity: 0.0;
    height: 100vh;
  }
  100% {
    opacity: 0.0;
    display: none;
    height: 0;
  }
}
